@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300&display=swap');
body {
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


